* {
    padding: 0;
    margin: 0;
}

#name,
#create_dojo{
    margin-top: 8%;
}

#flex{
    display: flex;
    justify-content: center;
    gap: 10%;
}

ul{
    border: 2px solid black;
    padding: 0;
}

li{
    list-style: none;
    margin-right: 100%;
}