* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
}

.box {
    border: 3px solid black;
    margin-top: 5%;
    padding: 2%;
}

h4 {
    text-decoration: underline;
    text-underline-offset: 10%;
}

.error {
    color: red;
}